<h1>Revise your dog-ponderings ...</h1>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form method="post" action="/questions/<%= @question.id %>">
  <input type="hidden" name="_method" value="put">

  <label for="title-input" class="block">Title:</label>
  <input id="title-input" name="question[title]" type="text" value="<%= @question.try(:title) %>" class="block">

  <label for="body-textarea" class="block">Text:</label>
  <textarea id="body-textarea" name="question[text]" class="block"><%= @question.try(:text) %></textarea>

    <input type="hidden" name="question[user_id]" value="<%= session[:user_id] %>"  >

  <input type="submit" value="Update" class="block">
</form>
