<div class="container">
  <h1><%= @question.title %></h1>

  <span class="question-date block font-3-4 c-lt-gray"><%= "Written on #{long_form_date(@question.created_at)}." %></span>

  <p><%= @question.text %></p>

  <div class="the_vote_buttons">
    <div class="upvote">
      <a href="/questions/<%=@question.id%>/upvote"><img class="vote_button" src="/images/upvote.jpg"></a>
    </div>
    <div class="vote_count">
      <%=@question.total_votes%>
    </div>
    <div class="downvote">
      <a href="/questions/<%=@question.id%>/downvote"><img class="vote_button" src="/images/downvote.jpg"></a>
    </div>
  </div>

  <div class="question_field">
    <ul class="no-bullets no-padding mar-t-2">
      <% if current_user && current_user.id == @question.user_id %>

        <li class="pipe-separate left">
          <a class="button" href="/questions/<%= @question.id %>/edit" >edit</a>
        </li><br>

        <li class="pipe-separate left">
          <form method="post" action="/questions/<%= @question.id %>" class="inline">
            <input type="hidden"  name="_method" value="delete">
            <input type="submit" class="button" value="delete">
          </form>
        </li>
      <% end %>

      <% if current_user && current_user.id != @question.user_id %>
        <li class="pipe-separate left">
          <a class="button" id="answer_button" href="/questions/<%= @question.id %>/answers/new">answer</a>
        </li>
    <% end %>
    </ul>

    <div class="answer_form"></div>

    <div class="comments">
      <ul id="question_comment_list">
        <% @question.comments.each do |comment| %>
          <%= erb :'_comment_display', locals: { comment: comment } %>
        <% end %>
      </ul>
      <a class="button some_margin" id="comment_button" href="/questions/<%=@question.id%>/comment/new">Comment</a>
    </div>
  </div>


  <h2> Answers </h2>
  <ul id="answer_list">

    <% @question.answers.sort_by{ |answer| answer.best ? 0 : 1}.each do |answer| %>

      <%= erb :'answers/_answer_display', locals: { answer: answer, question: @question, best_value: @best_values} %>
    <% end %>

  </ul>

  <%= erb :'_error' %>

</div>
