<div class="container">
  <h2 id="profile_name"> <%= @user.username %>'s Page </h2><br>

  <h3> Questions <%=@user.username%> Has Asked </h3>
  <div class="question_container">
    <ul>
      <% @user.questions.each do |question| %>
        <li><a class="link" href="/questions/<%=question.id%>"><%=question.title%></a></li>
        <% end %>
    </ul>
  </div>
  <h3> Questions <%=@user.username%> Has Answered </h3>

  <div class="answer_container">
    <ul>
      <% @user.answers.each do |answer| %>
        <li>You Answered: "<%=answer.text%>"<br> on: <a class="link" href="/questions/<%=answer.question.id%>"><%=answer.question.title%></a>
        </li>
      <% end %>
    </ul>
  </div>

 </div>
