<li id="<%= answer.id %>" class="listing individual_answer">

    <div class="the_vote_buttons">
    <div class="answer_upvote">
      <a href="/answers/<%=answer.id%>/upvote"><i class="fa fa-paw" aria-hidden="true"></i></a>
    </div>
    <div class="vote_count">
      <%=answer.total_votes%>
    </div>
    <div class="answer_downvote">
      <a href="/answers/<%=answer.id%>/downvote"><i class="fa fa-paw" aria-hidden="true"></i></a>
    </div>
  </div>

    <div class="question_field">
      <% if answer.best %>
        <p>Best Answer!</p><br>
      <% end %>
    <%=answer.text%><br><br> By: <a class="link" href="/users/<%=answer.user.id%>"><%=answer.user.username%></a> Answered on: <%=long_form_date(answer.created_at)%>

    <% if current_user %>
      <% if current_user.id == question.user_id && best_value.exclude?(true) %>

        <a class="button some_margin" href="/answers/<%=answer.id %>/best">Mark as best answer</a>

      <% end %>
      <% end %>


      <% if current_user && current_user.id == answer.user_id %>
        <ul class="some_padding">
          <li class="answer_edit link"><a class="button" href="/answers/<%= answer.id %>/edit">edit</a></li><br>

          <div class="answer_editing"></div>
          <li id="delete_button" class="link">
            <form class="delete-answer-form" method="post" action="/answers/<%= answer.id %>" class="inline">
              <input type="hidden"  name="_method" value="delete">
              <input type="submit" class="button" value="delete">
            </form>
          </li>

        </ul>
        <% end %>

        <ul id="answer_comment_list" class="some_padding">
          <% answer.comments.each do |comment| %>
            <%= erb :'_comment_display', locals: {comment: comment }%>
          <% end %>
        </ul>
      <br>
    <%if !answer.comments.empty? %>
      <div id="answer_comment_form_placeholder"></div>
      <a id="answer_comment_button" class="button some_margin" href="/answers/<%=answer.id%>/comment/new">Comment</a>
    <br><br>
    <% end %>
      </div>
      </li>
